@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

:root {
  font-family: "Interphases Pro", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Interphases Pro";
  src: url("./assets/fonts/tt_interphases_pro/TT_Interphases_Pro_Trial_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Interphases Pro";
  src: url("./assets/fonts/tt_interphases_pro/TT_Interphases_Pro_Trial_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}


h1, h2 {
  font-family: "Interphases Pro", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Interphases Pro", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Interphases Pro Mono", sans-serif;
  font-weight: 500;
}